<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}core/js/global.js"></script>
{% block js %}{% endblock %}
{% block css %}{% endblock %}
</head>

<body>
	{% block content %}{% endblock %}
</body>
</html>